.events {
    margin: 3rem 0;
}

.events_container {
    margin-top: 3rem;
    margin-inline: 6rem;
}

.m_lr {
    margin: 0 2rem 0 2rem;
}

.events_time {
    background-color: dodgerblue;
}

.events_img {
    padding: 0;
}



.meta_text {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background: #1f214a;
    color: #fff;
    padding: 5px 9px;
    justify-content: space-evenly;
    margin: 0;
}

