.events {
    margin: 0 auto;
}

.events_container {
    margin-top: 3rem;
    /*margin-inline: 6rem;*/
}

.event_item {
    box-shadow: 4px 4px 10px #e0dedeb5;
    padding: 2rem;
    height: auto;
}


.events_time {
    background-color: dodgerblue;
}

.events_img {
    padding: 0;
}

.meta_text {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background: #1f214a;
    color: #fff;
    padding: 5px 9px;
    justify-content: space-evenly;
    margin: 0;
}


.flex_container {
    display: flex;
    flex-wrap: wrap;
}


